USE master
GO

/*
Database Creation Script
©Nathan Motyl
http://nmotyl.github.io/
*/

PRINT 'Creating LogData database'
GO

CREATE DATABASE [LogData]
 ON  PRIMARY 
( NAME = N'LogData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\LogData.mdf' , SIZE = 1048576KB , FILEGROWTH = 262144KB )
 LOG ON 
( NAME = N'LogData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\LogData_log.ldf' , SIZE = 262144KB , FILEGROWTH = 131072KB )
GO
USE [LogData]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [LogData] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
