USE master
GO

/*
Database Creation Script
©Nathan Motyl
http://nmotyl.github.io/
*/

PRINT 'Creating DynamicDB database'
GO

CREATE DATABASE [DynamicDB]
  ON  PRIMARY 
( NAME = N'DynamicDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\DynamicDB.mdf' , SIZE = 1048576KB , FILEGROWTH = 262144KB )
 LOG ON 
( NAME = N'DynamicDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\DynamicDB_log.ldf' , SIZE = 262144KB , FILEGROWTH = 131072KB )
GO
USE [DynamicDB]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [DynamicDB] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

PRINT 'Database online'
GO